<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <carousel>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/4.jpg"  alt="" />

          </slide>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/2.jpg" alt="" />

          </slide>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/3.jpg" alt="" />
          </slide>
        </carousel>
    </div>
  </div>
  </div>
</section>




