<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <carousel>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/11.jpg"  alt="" />

          </slide>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/22.jpg" alt="" />

          </slide>
          <slide>
            <img class="carousel_img" src="../../assets/images/carousel/33.jpg" alt="" />
          </slide>
          <slide>
              <img class="carousel_img" src="../../assets/images/carousel/44.png" alt="" />
            </slide>
            <slide>
                <img class="carousel_img" src="../../assets/images/carousel/55.jpg" alt="" />
              </slide>
              <slide>
                  <img class="carousel_img" src="../../assets/images/carousel/66.png" alt="" />
                </slide>
                <slide>
                    <img class="carousel_img" src="../../assets/images/carousel/77.jpg" alt="" />
                  </slide>
        </carousel>
    </div>
  </div>
  </div>
</section>




