<div class="col-sm-9 padding-right">
  <div class="product-details"><!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <img src="{{product.coverUrl}}" alt="" />
      </div>
    </div>
    <div class="col-sm-7">
        <p><b>Title:</b> {{product.title}}</p>        
        <p><b>ISBN:</b> {{product.id}}</p>
        <p><b>Publisher:</b> {{product.publisher}}</p>
        <p><b>Languge:</b> {{product.language}}</p>
        <p><b>Subject:</b> {{product.subject}}</p>
        <p><b>Year:</b> {{product.year}}</p>
        <p><b>Size:</b> {{product.size}}</p>
      <div class="product-information"><!--/product-information-->
        <span>
          <span> <b>Price:</b>{{product.price}}</span>
          <button type="button" class="btn btn-default cart">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </button>
        </span>
      </div><!--/product-information-->
    </div>
    <h4><b>Description</b> {{product.description}} </h4>
    
  </div><!--/product-details-->
  </div>