<div class="col-sm-9 padding-right">
  <div class="product-details"><!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <img src="{{product.coverUrl}}" alt="" />
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-information"><!--/product-information-->
        <img src="images/product-details/new.jpg" class="newarrival" alt="" />
        <h2>{{product.title}}</h2>
        <p>ISBN: {{product.id}}</p>
        <span>
          <span>{{product.price}}</span>
          <button type="button" class="btn btn-fefault cart">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </button>
        </span>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <p><b>Brand:</b> E-SHOPPER</p>
      </div><!--/product-information-->
    </div>
  </div><!--/product-details-->
  </div>