<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <h1 *ngIf="cartList.length === 0">No data in cart</h1>    
    <div class="table-responsive cart_info" *ngIf="cartList.length > 0">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td class="total">Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartList">
            <td class="cart_product">
              <a href=""><img class="cart_img" src="{{item.coverUrl}}" alt="{{item.name}}"></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{item.name}}</a></h4>
              <p>{{item.author}}, {{item.year}}, {{item.language}}</p>
            </td>
            <td class="cart_price">
              <p>{{item.price}}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" (click)="increase(item)"> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="{{item.quantity}}" autocomplete="off" size="2">
                <a class="cart_quantity_down" (click)="decrease(item)"> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{item.totalPrice}}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" (click)="remove(item)"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section> <!--/#cart_items-->
