<section id="cart_items">
  <div class="container">
    <h1 *ngIf="cartList.length === 0">No data in cart</h1>
    <div class="table-responsive cart_info" *ngIf="cartList.length > 0">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td class="total">Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartList">
            <td class="cart_product">
              <a href="">
                <img class="cart_img" src="{{item.coverUrl}}" alt="{{item.title}}">
              </a>
            </td>
            <td class="cart_description">
              <h4>
                <a (click)="viewDetails(item)">{{item.title}}</a>
              </h4>
              <p>{{item.creator}}, {{item.year}}, {{item.language}}</p>
            </td>
            <td class="cart_price">
              <p>{{item.price}}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" (click)="increase(item)"> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="{{item.quantity}}" autocomplete="off" size="2">
                <a class="cart_quantity_down" (click)="decrease(item)"> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{item.totalPrice}}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" (click)="remove(item)">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-12 col-sm-offset-5" style="margin-bottom: 15px">
        <button (click)="showModal(template)" class="btn btn-primary">
          Check out for {{totalSum}} UZS
        </button>
      </div>
    </div>
  </div>
</section>




<ng-template #template>
  <section id="form">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form">
            <h2 class="text-center">Checkout</h2>
            <form #form="ngForm">
              <label>Name</label>
              <input type="text" name="name" [(ngModel)]="user.name" placeholder="Name" required>
              <label>Address</label>
              <input type="text" name="address" [(ngModel)]="user.address" placeholder="Address" required>
              <label>Phone</label>
              <input type="text" name="phone" [(ngModel)]="user.phoneNumber" placeholder="Phone" required>
              <label>Email</label>
              <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
              <p class="cart_total_price">Total sum is: {{totalSum}} UZS</p>
              <button type="button" (click)="checkout()" class="btn btn-default">Checkout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<!--/#cart_items-->