<div class="col-sm-9 padding-right">
  <div class="features_items" *ngIf="!isFilter">
    <!--features_items-->
    <h2 class="title text-center" style="color: black">All products</h2>
    <div class="col-sm-3" *ngFor="let product of productsList">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="img_cover" src="{{product.coverUrl}}" alt="product.name" />
            <h2>{{product.price}}</h2>
          </div>
          <div class="product-overlay">
            <div class="overlay-content">
                    <p>{{product.creator}}</p>
              <h6 class="title">{{product.title}}</h6>
              <a (click)="viewDetail(product)" class="btn btn-default add-to-cart">
                <i class="fa fa-eye"></i>View product</a>
              <a (click)="addToCart(product)" class="btn btn-default add-to-cart">
                <i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
          </div>
        </div>
        <div class="choose">
          <ul class="nav nav-pills nav-justified">
            <li *ngIf="!product.inFav">
              <a (click)="addToFavorites(product)">
                <i class="fa fa-star-o"></i>Add to favorites</a>
            </li>
            <li *ngIf="product.inFav">
              <a><i class="fa fa-check"></i>Already in favorites</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="features_items" *ngIf="isFilter">
    <!--features_items-->
    <h2 class="title text-center" style="color: black">{{filteringText}}</h2>
    <div class="col-sm-3" *ngFor="let product of filteredList">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="img_cover" src="{{product.coverUrl}}" alt="product.name" />
            <h2>{{product.price}}</h2>
          </div>
          <div class="product-overlay">
            <div class="overlay-content">
                    <p>{{product.creator}}</p>
              <h6 class="title">{{product.title}}</h6>
              <a (click)="viewDetail(product)" class="btn btn-default add-to-cart">
                <i class="fa fa-eye"></i>View product</a>
              <a (click)="addToCart(product)" class="btn btn-default add-to-cart">
                <i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
          </div>
        </div>
        <div class="choose">
          <ul class="nav nav-pills nav-justified">
            <li *ngIf="!product.inFav">
              <a (click)="addToFavorites(product)">
                <i class="fa fa-star-o"></i>Add to favorites</a>
            </li>
            <li *ngIf="product.inFav">
              <a><i class="fa fa-check"></i>Already in favorites</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--features_items-->
</div>