 <div class="wrapper">
    <admin-sidebar></admin-sidebar>
    <div class="main-panel">  
        <admin-navbar></admin-navbar>


        <div class="content">
            <div class="container-fluid">
            <router-outlet></router-outlet>   
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.unicon.uz">OOO UNICON-SOFT</a>, 
                    made by Ismail Salikhodjaev
                </p>
            </div>
        </footer>

    </div>
</div>