<div class="sidebar" data-color="black" data-image="../../assets/images/home/logo.png">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a  class="simple-text">
                    BOOKSTORE 
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a routerLink="add" routerLinkActive="active">
                        <p>
                        <span data-feather="plus-circle"></span>                                                        
                            Add Product
                        </p>
                                             
                    </a>
                </li>
                <li>
                    <a routerLink="add-user" routerLinkActive="active">
                        <p>
                        <span data-feather="user-plus"></span>    
                           Add User 
                        </p>
                    </a>
                </li>
                <li>
                    <a routerLink="product-list">
                        <p>
                        <span data-feather="list"></span>                            
                            Product List
                        </p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>