<div class="sidebar" data-color="black" data-image="../../assets/images/home/logo.png">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a  class="simple-text">
                    BOOKSTORE 
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a routerLink="add-product" routerLinkActive="active">
                        <p><span data-feather="plus-circle"></span>Add Product</p>
                    </a>
                </li>
                <li >
                    <a routerLink="add-genre" routerLinkActive="active">
                        <p><span data-feather="edit"></span>Add Genre</p>
                    </a>
                </li>
                <li>
                    <a routerLink="add-author" routerLinkActive="active">
                        <p><span data-feather="user-plus"></span>Add Author</p>
                    </a>
                </li>
                <li>
                    <a routerLink="product-list" routerLinkActive="active">
                        <p><span data-feather="list"></span>Product List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>