<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">ADD GENRE</h4>
                    </div>
                    <div class="content">
                        <form #form="ngForm" (ngSubmit)="submitForm()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Genre </label>
                                        <input type="text" class="form-control" placeholder="Genre name " name="name" [(ngModel)]="genre.name">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">ADD GENRE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>