<div class="col-sm-9 padding-right">
  <div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <img src="{{user?.photoURL}}" alt="{{user.name}}" style="border-radius: 60px"/>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-information">
        <!--/product-information-->
        <h2>{{user?.name}}</h2>
        <p><b>Email:</b>{{user?.email}}</p>
        <a [routerLink]="['/cart']"><h4>My cart list: ({{cartLength}} - items)</h4></a>
        <a [routerLink]="['/']"><h4>Back to catalogue</h4></a>
        <br>
        <a (click)="logout()"><h4>Logout</h4></a>
      </div>
      <!--/product-information-->
    </div>
  </div>
  <!--/product-details-->

</div>
<!-- Favorites  -->
    <div class="col-md-9">
        <div class="card">
            <div class="header">
                <h4 class="title">Favorites<span data-feather="star"></span> </h4>
                <p class="category">Your favorites products here</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Language</th>
                        <th>Price</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of favList; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.creator}}</td>
                            <td>{{item.language}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="removeFromFavs(item)">
                                    Delete from favorites
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Order History -->
    <div class="col-md-9">
        <div class="card">
            <div class="header">
                <h4 class="title">Order History<span data-feather="shopping-bag"></span></h4>
                <p class="category">Your order history here</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Language</th>
                        <th>Price per book</th>                        
                        <th>Quantity</th>
                        <th>Total price</th>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderList; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.creator}}</td>
                            <td>{{item.language}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.totalPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
