<div class="col-sm-9 padding-right">
  <div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
      <div class="view-product">
        <img src="images/product-details/1.jpg" alt="" />
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-information">
        <!--/product-information-->
        <img src="images/product-details/new.jpg" class="newarrival" alt="" />
        <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
        <p>Web ID: 1089772</p>
        <img src="images/product-details/rating.png" alt="" />
        <p>
          <b>Name:</b> In Stock</p>
        <p>
          <b>Email:</b> New</p>
        <p>
          <b>Brand:</b> E-SHOPPER</p>
      </div>
      <!--/product-information-->
    </div>
  </div>
  <!--/product-details-->

</div>
<!-- Favorites  -->
    <div class="col-md-9">
        <div class="card">
            <div class="header">
                <h4 class="title">Favorites<span data-feather="star"></span> </h4>
                <p class="category">Your favorites products here</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Language</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Order History -->
    <div class="col-md-9">
        <div class="card">
            <div class="header">
                <h4 class="title">Order History<span data-feather="shopping-bag"></span></h4>
                <p class="category">Your order history here</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Language</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
