<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="header">
                      <h4 class="title">ADD PRODUCT</h4>
                  </div>
                  <div class="content">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Creator </label>
                                      <input type="text" class="form-control"
                                        placeholder="Creator ">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Title</label>
                                      <input type="text" class="form-control" placeholder="Title">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Price</label>
                                      <input type="number" class="form-control" placeholder="Price">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Date </label>
                                      <input type="text" class="form-control" placeholder="Date ">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Subject </label>
                                      <input type="text" class="form-control" placeholder="Subject ">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Publisher </label>
                                      <input type="text" class="form-control" placeholder="Publisher ">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Type </label>
                                      <input type="text" class="form-control" placeholder="Type">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Format </label>
                                      <input type="text" class="form-control" placeholder="Format ">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Identifier </label>
                                      <input type="text" class="form-control" placeholder="Identifier ">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Source </label>
                                      <input type="text" class="form-control" placeholder="Source ">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Language  </label>
                                      <input type="text" class="form-control" placeholder="Language">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Relation</label>
                                      <input type="text" class="form-control" placeholder="Relation">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Coverage </label>
                                      <input type="text" class="form-control" placeholder="Coverage ">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Rights </label>
                                      <input type="text" class="form-control" placeholder="Rights ">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Description</label>
                                      <textarea rows="5" class="form-control" placeholder="Description" >

                                      </textarea>
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-info btn-fill pull-right">ADD PRODUCT</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-user">
                  <div class="image">
                      <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                  </div>
                  <div class="content">
                      <div class="author">
                          <a href="#">
                              <h4 class="title">Mike Andrew<br />
                                  <small>michael24</small>
                              </h4>
                          </a>
                      </div>
                      <p class="description text-center"> "Lamborghini Mercy <br>
                          Your chick she so thirsty <br>
                          I'm in that two seat Lambo"
                      </p>
                  </div>
                  <hr>
                  <div class="text-center">
                      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>