<div class="row">
  <div class="col-md-5">
      <div class="thumbnail">
          <img src="..." alt="...">
        </div>
  </div>
  <div class="col-md-7">
          <div class="shopper-info">
            <p>Product Information</p>
            <form>
              <input type="text" placeholder="Author Name">
              <input type="text" placeholder="Title">
              <input type="text" placeholder="Price">
              <input type="text" placeholder="Year">
            </form>
            <a class="btn btn-primary" href="">Save</a>
          </div>
  </div>
</div>