<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="login-form"><!--login form-->
          <h2 class="text-center">Login to your account</h2>
          <form action="#">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email Address" />
            <span>
              <input type="checkbox" class="checkbox"> 
              Keep me signed in
            </span>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div><!--/login form-->
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-sm-offset-3">
        <div class="signup-form"><!--sign up form-->
            <button type="submit" class="btn btn-default google">Signup with Google  <i class="fa fa-google-plus"></i></button>
            <button type="submit" class="btn btn-default twitter">Signup with Twitter  <i class="fa fa-twitter"></i></button>
            <button type="submit" class="btn btn-default facebook">Signup with Facebook  <i class="fa fa-facebook"></i></button>
        </div><!--/sign up form-->
      </div>
    </div>
    <hr>
  </div>
</section><!--/form-->
