<div class="col-sm-3">
  <div class="left-sidebar">
    <h2>All books</h2>
    <div class="panel-group category-products">
      <!--category-productsr-->
      <div class="panel panel-default" *ngFor="let genre of genresList">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a (click)="filterByGenre(genre.name)">{{genre.name}}</a>
          </h4>
        </div>
      </div>
      <!--category end-->
      <h2 style="margin-top: 20px">Authors</h2>
      <div class="panel-group category-products">
        <!--category-productsr-->
        <div class="panel panel-default" *ngFor="let author of authorsList">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a (click)="filterByAuthor(author.name)">{{author.name}} {{author.surname}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>