<div class="col-sm-3">
  <div class="left-sidebar">
    <a (click)="filterByGenre('*')"><h2>All Genres</h2></a>
    <div class="panel-group category-products">
      <!--category-productsr-->
      
      <div class="panel panel-default" *ngFor="let genre of genresList">
        <div class="panel-heading" (click)="filterByGenre(genre.name)">
          <h4 class="panel-title">
            <a >{{genre.name}}</a>
          </h4>
        </div>
      </div>
      <!--category end-->
      <a (click)="filterByAuthor('*')"><h2 style="margin-top: 20px">All Authors</h2></a>
      <div class="panel-group category-products">
        <!--category-productsr-->
        <div class="panel panel-default" *ngFor="let author of authorsList">
          <div class="panel-heading" (click)="filterByAuthor(author.name)">
            <h4 class="panel-title">
              <a >{{author.name}} {{author.surname}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>