<div class="col-sm-3">
  <div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products">
      <!--category-productsr-->
      <div class="panel panel-default" *ngFor="let genre of genresList">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a>{{genre.genreName}}</a>
          </h4>
        </div>
      </div>
      <!--category end-->
      <h2>Authors</h2>
      <div class="panel-group category-products">
        <!--category-productsr-->
        <div class="panel panel-default" *ngFor="let author of authorsList">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a>{{author.authorName}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>