<footer id="footer">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="single-widget">
            <h2>About Project</h2>
            <p>
              A project undertaken as part of BSc (Hons) Business Information Systems Degree, Westminster International University in Tashkent
            </p>
            <p>
                Student: Salikhodjaev Ismoilkhon
            </p>
            <p>
                Supervisor: Shirin primkulova
            </p>
            <p>
                Email: ismailsalikhodjaev@gmail.com
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Copyright © 2018 BookStore All rights reserved.</p>
        <p class="pull-right">Designed by
          <span>
            <a target="_blank">Ismoilkhon Salikhodjaev</a>
          </span>
        </p>
      </div>
    </div>
  </div>

</footer>
<!--/Footer-->